.container{

    margin-top: 50px;
    text-align: center;
    color: #20387E;
   
    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
    }
    // input, button, select, optgroup, textarea {
    //     margin: 5px;
    //     font-family: inherit;
    //     font-size: inherit;
    //     line-height: inherit;
    // }
   
    
}