<!-- <div class="sidebar">
  <h3>Sidebar</h3>
  <ul>
    <li *ngFor="let item of sidebarItems">
      <a [routerLink]="item.route">{{ item.label }}</a>
    </li>
  </ul>
</div>
<div class="container">
    <mat-sidenav-container>
        <mat-sidenav>Start</mat-sidenav>
        <mat-sidenav-content>Main</mat-sidenav-content>
    </mat-sidenav-container>
</div> -->
<div class="container">
    <div class="sidebar col-md-3" >
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/header" routerLinkActive="active">Header</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/accounts" routerLinkActive="active">Compare Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/ca" routerLinkActive="active">C Accounts</a>
            </li>
        </ul>
    </div>
    <!-- <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/dashboard" routerLinkActive="active">Dasboard</a></li>
      <li><a routerLink="/header" routerLinkActive="active">Header</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul> -->
    <router-outlet></router-outlet>
    <!-- <div class="form col-lg-6" >
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    
    </div> -->
    
    

</div>
