<mat-sidenav-container></mat-sidenav-container>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <!-- Dashboard Content -->
    <div class="col-md-9 row">
      <h2>Dashboard</h2>
      <div >
        <p>Loading dashboard data...</p>
      </div>
      <div class="card" >
        <img src="assets/images/img.jpg" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title" style="color: #9f83ab;" >Card title</h5>
          <p class="card-text" style="color: #9f83ab;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/header" class="btn btn-light"   style="background: #9f83ab;">click</a>
        </div>
      </div>
      <br>
      <div class="card" >
        <img src="assets/images/img1.jpg" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title" style="color: #9f83ab;" >Card title</h5>
          <p class="card-text" style="color: #9f83ab;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/header" class="btn btn-light"   style="background: #9f83ab;">click</a>
        </div>
      </div>
      <div class="card" >
        <img src="assets/images/img.jpg" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title" style="color: #9f83ab;" >Card title</h5>
          <p class="card-text" style="color: #9f83ab;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/header" class="btn btn-light"   style="background: #9f83ab;">click</a>
        </div>
      </div>
      <div class="card" >
        <img src="assets/images/img1.jpg" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title" style="color: #9f83ab;" >Card title</h5>
          <p class="card-text" style="color: #9f83ab;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/header" class="btn btn-light"   style="background: #9f83ab;">click</a>
        </div>
      </div>
    </div>
  </div>
</div>
