<mat-sidenav-container></mat-sidenav-container>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <!-- Dashboard Content -->
    <div class="col-md-9 row">
      <h2>Dashboard</h2>
      <div >
        <p>Loading dashboard data...</p>
      </div>
      <div class="card" >
        <img src="assets/images/img.jpg" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title" style="color: #9f83ab;" >Card title</h5>
          <p class="card-text" style="color: #9f83ab;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/header" class="btn btn-light"   style="background: #9f83ab;">click</a>
        </div>
      </div>
      <br>
      <div class="card" >
        <img src="assets/images/img1.jpg" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title" style="color: #9f83ab;" >Card title</h5>
          <p class="card-text" style="color: #9f83ab;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/header" class="btn btn-light"   style="background: #9f83ab;">click</a>
        </div>
      </div>
      <div class="card" >
        <img src="assets/images/img.jpg" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title" style="color: #9f83ab;" >Card title</h5>
          <p class="card-text" style="color: #9f83ab;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/header" class="btn btn-light"   style="background: #9f83ab;">click</a>
        </div>
      </div>
      <div class="card" >
        <img src="assets/images/img1.jpg" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title" style="color: #9f83ab;" >Card title</h5>
          <p class="card-text" style="color: #9f83ab;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- <a href="/header" class="btn btn-light"   style="background: #9f83ab;">click</a> -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-light"   style="background: #9f83ab;">
            Add Card
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  this is to add the new cards
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
