<mat-sidenav-container></mat-sidenav-container>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
      
      <app-sidebar></app-sidebar>
    </div>

    <!-- Dashboard Content -->
    <div class="col-md-9">
      <h2>Home</h2>
      <div>
        <p>Loading Home data...</p>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="fill">
        <mat-label>Select Date*:</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="selectedDate" class="neumorphic-input">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        </div>
    </div>
  </div>
</div>

